@media print{
    .navbar {
        display: none;
    }
    input.task {
        display: block !important;
        float: left;
        width: 24px;
        height: 24px;
    }
    a.checked {
        display: none !important;
    }
    .prettycheckbox.green a, .prettyradio.green a {
        display: none;
    }
    .btn-fork-task {
        display: none;
    }

    .prettycheckbox label, .prettyradio label {
        display: block;
        line-height: 30px;
        padding-left: 35px;
    }
}