{% extends "base.html" %}
{% load i18n webdesign %}

{% block title %}{{ checklist.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <a href="" class="btn btn-warning pull-right btn-fork-task"><i class="icon-ok"></i> Fork this</a>

            <h2 class="task-title">{{ checklist.title }}</h2>

            <div class="task-rating pull-left">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-half-empty"></i>
            </div>
            <div class="clearfix"></div>
            <hr>

            <ul class="task-list">
                <li>
                    <input type="checkbox" clas s="task" value="1" name="t1" data-label="{% lorem 5 w random %}">
                    <div class="remain">next 2 days, 3 hours</div>
                </li>
                <li>
                    <input type="checkbox" class="task" value="1" name="t2" data-label="{% lorem 6 w random %}">
                </li>
                <li>
                    <input type="checkbox" class="task" value="1" name="t3" data-label="{% lorem 4 w random %}">
                </li>
            </ul>

            <hr>
            {% if checklist.public %}
            <div class="task-metadata">
                <p>by <a href="">{{ checklist.owner.username }}</a></p>

                <p>5 days ago</p>
                <p>30 people rated</p>
                <p>200 views</p>
                <p>3 forks</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}prettyCheckable/prettyCheckable.css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}prettyCheckable/prettyCheckable.js"></script>
    <script type="text/javascript">
    $(function(){
        $('input.task').prettyCheckable({
            color: 'green'
        });
    });
    </script>
{% endblock %}