{% extends "base.html" %}
{% load i18n webdesign %}
{% load extra_tags %}
{% block title %}{{ checklist.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <a href="" class="btn btn-warning pull-right btn-fork-task"><i class="icon-ok"></i> Fork this</a>
            {% if request.user == checklist.owner %}
                <a href="{% url 'mylist:update' checklist.id %}" class="btn btn-success pull-right btn-fork-task"><i class="icon-pencil"></i></a>
            {% endif %}

            <h2 class="task-title">{{ checklist.title }}</h2>

            <div class="task-rating pull-left">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-half-empty"></i>
            </div>
            <div class="clearfix"></div>
            <hr>
            {% if tasks %}
                <ul class="task-list">
                {% for task in tasks %}

                    <li>

                        <input type="checkbox" id="task_{{ task.id }}" class="task" value="1" name="t1" {% if task.is_checked %}checked="true"{% endif %} data-label="{{ task.title }}">
                        {% if task.is_overdated == True %}<p class="remain over-dated">Overdated</p>{% else %}<div class="remain">next {{ task.remain_date|remain_date }}</div>{% endif %}
                    </li>

                {% endfor %}
                </ul>
            {% endif %}
            <hr>
            {% if checklist.public %}
                <div class="task-metadata">
                    <p>by <a href="{% url 'userena_profile_detail' checklist.owner.username %}">{{ checklist.owner.username }}</a></p>
                    <p>{{ checklist.created_at|timesince }} ago</p>
                    <p>30 people rated</p>
                    <p>200 views</p>
                    <p>3 forks</p>
                </div>
            {% else %}
                <div class="task-metadata">
                    <p>by <a href="{% url 'userena_profile_detail' checklist.owner.username %}">{{ checklist.owner.username }}</a></p>
                    <p>{{ checklist.created_at|timesince }} ago</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}prettyCheckable/prettyCheckable.css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}prettyCheckable/prettyCheckable.js"></script>
    <script type="text/javascript">
    $(function(){
        $('input.task').prettyCheckable({
            color: 'green'
        });


        {% if checklist.owner != user %}

            $('input.task').attr("disabled","disabled")



        {% endif %}




    });



    $('input.task').on('change', checked);

    function checked() {
        var id = $(this).attr('id').split('_')[1];

        if(id != ""){
            $.ajax({
                type:'POST',
                url:'/ajax/task/' + id +'/update/',
                data:'value=' + $(this).is(':checked'),
                success:function(data){
                    console.log("success");
                }
            });
        }
        console.log( $(this).is(':checked'));
    }
    </script>
{% endblock %}