{% load i18n webdesign %}
<!DOCTYPE html>
<html lang="vi" class="no-js">
<head>
{#    <meta id="vp" name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">#}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Checklist Simply{% endblock %}</title>
    <meta name="description" content="{% block desc %}{% endblock %}">
    <meta name="viewport" content="width=device-width">

    <link rel="apple-touch-icon" href="{{ STATIC_URL }}favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <script src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>

    {% block extra_css %}{% endblock %}
{##}
{#<script type="text/javascript">#}
{#		var vp = document.getElementById("vp");#}
{#        vp.setAttribute('name', 'viewport');#}
{#        vp.setAttribute('content', 'initial-scale=' + (1 / window.devicePixelRatio) + ',user-scalable=no');#}
{#</script>#}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><span></span></a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{% url 'mylist:index' %}">{% trans 'My Checklist' %}</a></li>
                    <li><a href="{% url 'mylist:public' %}">{% trans 'Public' %}</a></li>
                </ul>

                <form class="navbar-search" action="">
                    <div class="input-append">
                        <input type="text" class="span2 search-query" placeholder="Search" maxlength="100">
                    </div>
                </form>

                {% if request.user.is_authenticated %}
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i> {{ request.user.username }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'userena_profile_detail' request.user.username %}">{% trans 'Profile' %}</a></li>
                                {% if request.user.is_staff %}
                                    <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url 'userena_signout' %}">{% trans 'Logout' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav pull-right">
                        <li><a href="{% url 'userena_signin' %}">{% trans "Login" %}</a></li>
                        <li><a href="{% url 'userena_signup' %}">{% trans "Create New Account" %}</a></li>
                    </ul>
                {% endif %}
            </div>

            <a href="{% url 'mylist:add' %}" class="btn btn-danger pull-right btn-add-new" style="margin-right: 10px;">
                <i class="icon-plus-sign"></i> {% trans 'Add New' %}
            </a>

        </div>
    </div>
</div>

{% block content %}{% endblock %}

<script src="{{ STATIC_URL }}js/jquery-2.0.0.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/plugins.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
{% block extra_js %}{% endblock %}
{#<script>#}
{#    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];#}
{#    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];#}
{#    g.src='//www.google-analytics.com/ga.js';#}
{#    s.parentNode.insertBefore(g,s)}(document,'script'));#}
{#</script>#}
</body>
</html>
